<html>
	<body>
		<p>Dear SIS Member,</p>
		<p>The following file has been generated and transferred to your iiNET account : </p>
		<p> $ZippedfileName </p>

Regards,
<BR/>
IATA SIS Operations Team
<BR/>
 $SISOpsEmailid
</body>
</html>
