<p>Dear Admin,</p>

 <p> The ACH Recap Sheet generation failed for the period $BillingPeriod.

  Please take the appropriate action to resolve the issue. 
  </p>
 <p>Regards,</p>
 <p>SIS – System</p>