Dear Admin,

   The application experienced unexpected error, while deleting transaction files for the period '$Period'.

   Please take the appropriate action to resolve the issue.

Regards,
SIS - System