Dear SIS Member,<BR/>
Please find attached the details of the late processing request that have been rejected by $CH Operations.
<BR/>
Please initiate further action (increment billing period OR delete invoice) on these through the Processing Dashboard.
<BR/>
Regards, <BR/>
IATA SIS Operations Team <BR/>
$SISOpsEmail