<html>
	<body>
		<p> 
		Dear ICH/SIS Ops Member,<BR/>
		<BR/>
		    Failure in creating Archive Zip File at $FailureTime for the following invoice. 
		<BR/>
		   Archive Customer: $ArchiveCustomer
		<BR/>
		   Billing Member: $BillingMember
		<BR/> 
		   Billed Member:  $BilledMember
		<BR/>
		   Billing Period: $BillingPeriod
		<BR/>
		   Billing Category: $BillingCategory
		<BR/>
		   Invoice Number: $InvoiceNumber
		<BR/>
		   Error : $ErrorDetail
		
		<BR/>
		<BR/>
		Signature:
		<BR/>
		<BR/>		
		Regards,
		<BR/>
		IS System
</p>
<p>This is a system generated message - please do not reply.</p>
		
	</body>
</html>
