<html>
	<body>

<p> This is the report on the processing of Member Profile data uploaded to the system. Please refer to the details below </p>

<p> File Name: $Filename </p>
<p> Date/time of submission (EDT/EST): $SubmissionDateTime </p>  
<p> Uploaded by: $UploadedBy </p>
<p> Result: Failed </p>
<p> Reason for failure: An exception was encountered in the loading process. Please contact the support team for corrective action. </p>


Regards,
<BR/>
IS System
</body>
</html>