Dear SIS Member, <br/>


<p>The following file has been generated and is available for download via IS-WEB.</p>

<p>$ZipFileName</p>

<br/>

Regards,
<br/>
<br/>
IATA SIS Operations Team
<br/>
SisOpsMail
