Dear SIS Admin,<br/>
<P>&nbsp;&nbsp;Zip file for offline collection could not be generated for Billing Member: $BillingMemberAccountingCode.</P><br/>
This is a system generated message - please do not reply.
