Dear SIS Admin,<br/>
<P>Zip file for Uatp Atcan could not be generated for Billing Member:  $MemberCode for the billing period "$Period".
 <br/><br/>
 Please take the appropriate action to resolve the issue. 
 <br/><br/>
 This is a system generated message - please do not reply.