<html>
	<body>
Dear SIS Member,<BR/>
<BR/>
Please find attached the details of the invoices that have been submitted against a suspended member.
<BR/>
Kindly note that these will be kept in IS only for records but will not be processed by the $clearingHouse. 
<BR/>
Upon re-instatement notification of the suspended member,  invoices which have not already been settled on a bi-lateral basis may be resubmitted for settlement.   
<BR/>
Members can resubmit invoices through the Manage Suspended Invoices screen in IS-Web.
<BR/><BR/>
<B>Note: Resubmission is not possible for Billing Members or Billed Members who are Merged into another Member.</B>
<BR/>
<BR/>
Regards, <BR/>
IATA SIS Operations Team <BR/>
$SISOpsEmail

</body>
</html>
 