<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/SIS.log"/>
    <appendToFile value="true"/>
    <datePattern value="yyyyMMdd"/>
    <rollingStyle value="Date"/>
    <MaxSizeRollBackups value="5" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true"/>
      <levelMin value="DEBUG"/>
      <levelMax value="FATAL"/>
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%property{Host} %-5p %-25d t:%-5t %9rms %logger => %m%n"/>
    </layout>
  </appender>

  <appender name="WebProcessingTimeAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="5" />
    <connectionType value="Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess, Version=1.111.6.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <connectionString value="data source=SISTEST;User ID=SIS_QA;Password=C3ntr1n0" />
    <commandType value="Text" />
    <commandText value="INSERT INTO log_web_response (LOG_ID,Log_Date,LOG_WEB_SERVER,LOG_CONTROLLER,LOG_ACTION,LOG_METHOD,LOG_USER_ID,LOG_PROCESSING_TIME) VALUES (LOG_WEB_RESPONSE_SEQ.nextval,to_timestamp(:log_date, 'dd-MM-yyyy HH24:mi:ss.ff6'), :web_server, :controller_Name, :action_Name, :method_Name, :User_Id, :log_processing_time)" />
    <parameter>
      <parameterName value=":log_date" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'ffffff}" />
    </parameter>
    <parameter>
      <parameterName value=":web_server" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%property{Host}" />
    </parameter>
    <parameter>
      <parameterName value=":controller_Name" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout" value="%property{controller}" />
    </parameter>
    <parameter>
      <parameterName value=":action_Name" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%property{action}" />
    </parameter>
    <parameter>
      <parameterName value=":method_Name" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout" value="%property{method}" />
    </parameter>

    <parameter>
      <parameterName value=":User_Id" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout" value="%property{user_id}" />
    </parameter>

    <parameter>
      <parameterName value=":log_processing_time" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="processing_time" />
      </layout>
    </parameter>

  </appender>


  <!--<root>
    <level value="All"/>
    <appender-ref ref="WebProcessingTimeAppender"/>
  </root>-->
  
  <root>
    <appender-ref ref="RollingLogFileAppender" />
  </root>

  <logger name="Iata.IS.Web.Util.Filters.LogActionsAttribute">
    <appender-ref ref="WebProcessingTimeAppender" />
    <level value="INFO" />
  </logger>

  <logger name="Iata.IS.Core.DI.Ioc">
    <level value="All" />
  </logger>
</log4net>